<p id="notice"><%= notice %></p>

<h3><%= @user.username %></h3>

<% @tweets.each do |tweet| %>
	<p>
	<% if tweet.is_a?(Twitter::Tweet) %>
		<%=tweet.text.gsub(/(@[A-z0-9]{1,20})/, '<a href=\1>\1</a>').html_safe %>
	<% end %>
	</p>
<% end %> 

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
